/MIssissippi/Mississippi/nbproject/private/
/MIssissippi/Mississippi/build/
/New Folder (2)/SillySong/nbproject/private/
/New Folder (2)/SillySong/build/
/Test for S/Main/nbproject/private/
/Nested loop challenge/Main/nbproject/private/
/Nested loop challenge/Main/build/
/SpaceNeedleZip/SpaceNeedle/nbproject/private/
/SpaceNeedleZip/SpaceNeedle/build/
/Magpie/Magpie2/nbproject/private/
/Magpie/Magpie2/build/
/Triangle angles/Triangles/nbproject/private/
/Triangle angles/Triangles/build/
/New Folder (4)/FindReplace/nbproject/private/
/New Folder (4)/FindReplace/build/
/New Folder (5)/PigLatin/nbproject/private/
/New Folder (5)/triangles project/nbproject/private/
/New Folder (5)/triangles project/build/
/New Folder (5)/PigLatin/build/